{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{/each}}
{{>_msg}}
<div class="card border-primary mb-3">
    <h6 class="card-header">Cadastrar novo usuário</h6>
    <div class="body p-3">
        <small>
            <form action="/admin/novousuario" method="POST">
                <label for="nome"> Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo">

                <label for="cargo">Cargo</label>
                <input type="text" class="form-control" id="cargo" name="cargo"
                    placeholder="Digite o cargo do colaborador">

                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite o email">

                <br>
                <button id="adicionar" type="submit" class="btn btn-primary" data-dismiss="modal">Adicionar</button>
            </form>
        </small>
    </div>
</div>

<div class="card border-primary mb-3">
    <h6 class="card-header">Adicionar Prêmio</h6>
    <div class="body p-3">
        <small>
            <form action="/admin/novopremio" method="POST">
                <label for="premio">Nome</label>
                <input type="text" class="form-control" id="premio" name="premio" placeholder="Nome do prêmio">
                <label for="valor">Valor</label>
                <input type="number" class="form-control" id="valor" name="valor">
                <label for="quantidade">Quantidade</label>
                <input type="number" class="form-control" id="quantidade" name="quantidade">
                <br>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>
        </small>
    </div>
</div>

<div class="card border-primary mb-3">
    <h6 class="card-header">Excluir Prêmio</h6>
    <div class="body p-3">
        <small>
        <form action="/admin/excluirpremio" method="POST">
            <label for="id">Prêmio</label>
            <select name="id" class="custom-select">
                {{#each premios}}
                    <option value="{{_id}}">{{this.premio}}</option>
                {{else}}
                    <option value="0">Nenhum prêmio cadastrado</option>
                {{/each}}
            </select>
            <br>
            <br>
            <button class="btn btn-primary" type="submit">Excluir</button>
        </form>
        </small>
    </div>
</div>

<div class="card border-primary mb-3">
    <h6 class="card-header">Novo valor de moedas</h6>
    <div class="body p-3">
        <small>
            <form action="admin/novomoedas" method="POST">
                <label for="valor">Valor</label>
                <input type="number" class="form-control" id="valor" name="valor" placeholder="Digite o valor">      
                <br>
                <button id="resetaValor" type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </small>
    </div>
</div>